* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;

  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 200px;
    height: 80px;
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
  font-family: Cairo;
  font-size: 19px;
  font-weight: 600;
  line-height: 35.61px;
  text-align: left;
 text-decoration: none; 
 color: black; 
}

.nav-links li a:hover {
    color: #ff8c00;
}

.emergency-contact {
    display: flex;
    align-items: center;
    text-align: right;
}
.emergency-contact i{
  display: none;
}

#menu-toggle {
  display: none;
}



.emergency-contact img {
    width: 70px;
    margin-right: 10px;
}

.emergency-contact span {
    font-size: 14px;
    color: #28a745;
}

.search-icon img {
    width: 25px;
    margin-left: 20px;
    cursor: pointer;
}


  /* Landing Section */
  .landing-section{
    position: relative;
    width: 100%;
    height: 915px;
    background: linear-gradient(to top, #b3e0ef, transparent), 
    linear-gradient(to bottom, rgb(211, 211, 211), transparent);
    display: flex;
}

.writing-content{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 124px;
}
.Walkingintext{
    font-family: "Cairo", sans-serif;
    font-weight:700 ;
    font-size: 80px;
    line-height: 104px;
}

.Walkingintext span{
    color: #043A53;
}

.paradescrption{
    font-family: "Cairo", sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 34px;
    color: #62676E;
}

.lamding-buttons{
    width: auto;
    height: auto;
    display: flex;
    margin-top: 40px;
}

.learnmorebtn{
    width: 211px;
    height: 65.18px;
    background-color: #46BB3A;
    border-radius: 45.29px;
    border: none;
    color: white;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bookappoinmentbtnfst{
    width: 293px;
    height: 65px;
    border-radius: 45.29px;
    color: #20222A;
    background-color: white;
    border: none;
    margin-left: 25px;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landimag{
   width: 854.97px;
   height: 853.93px;
   gap: 0px;
   opacity: 0px;
   margin-top: 60px;
   z-index: 2;
   position: absolute;
   left: 850px;
}


/* making connection section */
.making-connection-section{
    width: 100%;
    height: 1056px;
    background: linear-gradient(180deg, #043A53 0%, #043B55 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

.making-title{
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-size: 65px;
    line-height: 85px;
    color: white;
}

.section-desc{
    font-family: "Cairo", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 42px;
    color: white;
    text-align: center;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 170px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .stat-item {
    font-size: 1.5em;
  }
  .stat-item span {
    display: block;
    font-size:70px;
    font-weight: 600;
    line-height: 104px;
    color: #4fd082;
  }
   .stat-item h4{
    font-size:22px;
    font-weight: 500;
    line-height: 104px;
    color: white;
   }


  .stat-item:nth-child(1) span {
    color: #4fd082;
  }
  .stat-item:nth-child(2) span {
    color: #ffba00;
  }
  .stat-item:nth-child(3) span {
    color: #4bb7e1;
  }
  .stat-item:nth-child(4) span {
    color: #f17076;
  }


  .aboutusbtn{
    width: 211px;
    height: 65.18px;
    color: black;
    border-radius: 45.29px;
    background-color: #FFFFFF;
    border: none;
    font-size: 22px;
    font-weight: 600;
  }





  .whychoosehospital-section{
    width: 100%;
    height: auto;
    border-color: white;
    padding-top: 250px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .whyhead{
    font-family: Cairo;
    font-size: 45px;
    font-weight: 700;
    line-height: 85px;
    text-align: center;
    
  }
  
  .whyhead span {
    color: #f98b00; 
  }
  
  .whypara{
    font-family: Cairo;
    font-size: 21px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    
  }
  .whysectionfsthead{
    font-family: Cairo;
font-size: 22px;
font-weight: 500;
line-height: 104px;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;
  }
  
  
  .card {
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardmiddile{
  width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.icon-container {
  width: 120px;
  height: 120px;
    position: relative;
    display: inline-block;
    background-color: #e5f6ff;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon-container::before {
    content: '04';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.icon-container img {
    width: 80px;
    height: 80px;
}

.label {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.depsection{
  width: 100%;
  height: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}

.dephead{
  font-family: Cairo;
font-size: 22px;
font-weight: 500;
text-align: center;

}
.dephead2{
  font-family: Cairo;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  
}

.cardcontainerdep{
  width: 1300px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.depcard{
  width: 391px;
  height: 509px;
  border-radius: 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.depcard h3{
  margin-top: 20px;
}

.depcard img{
  width: 100%;
  height: 441px;
  border-top-right-radius: 49px;
  border-top-left-radius: 49px;

}

.depbtn{
  width: 211px;
  height: 65.18px;
  background-color: #46BB3A;
  border-radius: 45.29px;
  border: none;
  color: white;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagesectionnurse {
  width: 100%;
  height: 656px;
  background: 
    linear-gradient(to right, grey, transparent), 
    url('./Assets/nursing-home-worker-helping-patient 1.png');
  background-size: cover;
  background-position: center;
}

.imagesectnheading{
font-size: 45px;
font-weight: 700;
line-height: 73px;
text-align: left;
color: white;

}

.imagesection-content{
  width: 1090px;
  height: 656px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagesectnbtn{
  width: 211px;
height: 65.18px;
background-color: #46BB3A;
border-radius: 45.29px;
border: none;
color: white;
font-size: 21px;
display: flex;
align-items: center;
justify-content: center;
margin-right: 390px;
}


.news-events {
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 1.2rem;
  color: #999;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.news-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

.news-card {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 30%;
  text-align: left;
}

.news-card img {
  width: 100%;
  height: auto;
  display: block;
}

.news-info {
  padding: 15px;
}

.category {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
  display: block;
}

.news-info h3 {
  font-size: 1.1rem;
  color: #333;
}

.view-more {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.view-more:hover {
  background-color: #45a049;
}

.mapsection{
  width: 100%;
  height: 690px;
  display: flex;
  align-items: center;
  justify-content: center;
 

}

.imagemapbox{
  width: 1187px;
  height: 641px;
  background: url('./Assets/Dotted_Map_White_Background\ [Converted]\ 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maphead{
  position: absolute;
font-size: 130px;
font-weight: 800;
line-height: 167.29px;
text-align: center;
color: #F0F0F0;

}

.cardmap {
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  height: auto;
  text-align: center;
  position: relative;
}
.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid white;
  overflow: hidden;
  position: absolute;
  top: -40px;
  left: calc(50% - 40px);
  background-color: #f4f4f4;
}
.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info {
  margin-top: 50px;
}
.info h2 {
  font-size: 20px;
  margin: 10px 0;
  font-weight: bold;
}
.info p {
  color: #666;
  margin: 5px 0;
}
.info .email,
.info .phone,
.info .address {
  font-size: 14px;
  color: #333;
}


.howcanihelpyou{
  width: 100%;
  height: 540px;
  background: 
    linear-gradient(to right,rgba(135, 221, 238, 0.559), transparent);
    display: flex;

}

.howleftsection{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 300px;
}

.howrightsection{
  width: 40%;
  height: 100%;
}

.howhead{
  font-family: Cairo;
font-size: 50px;
font-weight: 700;
line-height: 61.59px;
text-align: left;

}

.howpara{
  font-family: Cairo;
  font-size: 50px;
  font-weight: 700;
  line-height: 61.59px;
  text-align: left;
  
}

.howpara span{
  color: orange;
}

.form-container {
  margin-top: 20px;
  display: flex;
}

input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;  width: 300px;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
}

.howleftsection img{
  width: 200px;
  height: 100%;
}

.footer{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #043A53;
}

.footerupper{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px 300px;
  border-bottom: 1px solid grey;
  align-items: center;
}

.footerimage{
  width: 100px;
  height: 100%;
}

.bookappoinmentbtnfooter{
  width: 293px;
  height: 45px;
  border-radius: 45.29px;
  color: black;
  background-color: white;
  border: none;
  margin-left: 25px;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footermiddle {
  color: #ffffff;
  padding: 40px 300px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
}

.footer-column h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.contact-info {
  font-size: 14px;
}

.contact-info a {
  color: #ffffff;
  text-decoration: none;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #f0f0f0;
}

.footerdown{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-top: 1px solid grey;
}





  @media screen and (max-width: 560px) {
    .nav-links {
      list-style: none;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50px;
      right: 0;
      background-color: #080808;
      width: 100%;
      height: 100%;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      z-index: 1000;
      color: white;
      transition: max-height 0.5s ease; 
  }
  .nav-links li a{
    color: white;
  }
  
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      padding: 10px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
  
    .emergency-contact {
      display: flex;
      align-items: center;
      gap: 10px;
      text-align: right;
    }
  
    .emergency-contact i {
      display: block;
      cursor: pointer;
    }
  
    .emergency-contact img {
      display: none;
    }
  
    .emergency-contact span {
      font-size: 10px;
      color: #28a745;
    }
  
  
    .writing-content{
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left:0px;
      padding: 20px;
  }

  .paradescrption {
    font-family: "Cairo", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    color: #62676E;
}

.Walkingintext {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
.lamding-buttons {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.bookappoinmentbtn {
  width: 293px;
  height: 65px;
  border-radius: 45.29px;
  color: #20222A;
  border: none;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
.making-title {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 85px;
  color: white;
}
.making-connection-section{
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, #043A53 0%, #043B55 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
}
.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
  gap: 0px;
}
.stat-item {
  font-size: 30px;
}
.stat-item span {
  display: block;
  font-size:70px;
  font-weight: 600;
  line-height: 104px;
  color: #4fd082;
}
 .stat-item h4{
  font-size:22px;
  font-weight: 500;
  line-height: 104px;
  color: white;
 }


.stat-item:nth-child(1) span {
  color: #4fd082;
}
.stat-item:nth-child(2) span {
  color: #ffba00;
}
.stat-item:nth-child(3) span {
  color: #4bb7e1;
}
.stat-item:nth-child(4) span {
  color: #f17076;
}


.aboutusbtn{
  width: 211px;
  height: 65.18px;
  color: black;
  border-radius: 45.29px;
  background-color: #FFFFFF;
  border: none;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardmiddile {
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

.whychoosehospital-section{
  width: 100%;
  height: auto;
  border-color: white;
  padding-top: 250px;
}

.depsection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}

.imagesection-content {
  width: 100%;
  height: 656px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.imagesectnheading{
  font-size: 35px;
  font-weight: 700;
  line-height: 73px;
  text-align: left;
  color: white;
  
  }
  
  
  .imagesectnbtn{
    width: 161px;
  height: 65.18px;
  background-color: #46BB3A;
  border-radius: 45.29px;
  border: none;
  color: white;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  }

  .imagemapbox{
    width: 100%;
    height: 641px;
    background: url('./Assets/Dotted_Map_White_Background\ [Converted]\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .maphead {
    position: absolute;
    font-size: 80px;
    font-weight: 800;
    line-height: 167.29px;
    text-align: center;
    color: #F0F0F0;
}

.howleftsection {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
.howcanihelpyou {
  width: 100%;
  height: auto;
  background: linear-gradient(to right, rgba(135, 221, 238, 0.559), transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.howrightsection{
  display: none;
}
.howhead {
  font-family: Cairo;
  font-size: 40px;
  font-weight: 700;
  line-height: 61.59px;
  text-align: left;
}

.howpara {
  font-family: Cairo;
  font-size: 40px;
  font-weight: 700;
  line-height: 61.59px;
  text-align: left;
}


.footer-container {
  flex-direction: column;
  align-items: center;
}

.footer-column {
  margin: 20px 0;
}

.footer{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #043A53;
}

.footerupper {
  flex-direction: column;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid grey;
  align-items: center;
  justify-content: space-around;
}
  



  }
  

